{% extends 'base.html' %}
{% block container %}
    <h1>{{ algo }}</h1>
    <h1><span class="glyphicon glyphicon-list-alt"> </span> Administrador de Listas</h1>
<bR>
    <span></span><a class="btn btn-primary " href="/tareas/crear_lista/"><span class="glyphicon glyphicon-plus"></span>Agregar Lista</a></span>
   <a class="btn btn-success" href="/tareas/crear_tarea/"> <span class="glyphicon glyphicon-th-list"></span> Nueva Tarea</a>
    {% if listado %}
    <br><br>
    <table class="table table table-hover table-bordered">

      <tr><th>Titulo</th><th>Fecha Creacion</th><th>*****</th></tr>
    {% for l in listado %}
      <tr><td><a href="/tareas/{{ l.id }}/">{{ l.titulo_lista }}</a></td><td>{{ l.fecha_lista}}</td><td><a class="btn btn-success glyphicon glyphicon-wrench" href="/tareas/{{ l.id }}/modificar_lista"></a>   <a class="btn btn-danger glyphicon glyphicon-remove" href="/tareas/{{ l.id }}/eliminar_lista"></a></td></tr>
    {% endfor %}
    {% else %}
        <p>No hay Listas Guardadas.</p>
    {% endif %}
{% endblock container %}
