
{% extends "base.html" %}

{% block container %}
<form action="" method="post">

 <div class="panel panel-default active" id="panelvisitante">

 <div class="panel-heading" style="background-color: #268FA9;color: white;font-weight: bold;">
   <center> 
   <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Agregar Tareas</h3>
   </center>
 </div>

 <div class="panel-body" style="">
       {% csrf_token %}
        {{ form.as_p }}
 </div> 

 <div class="panel-footer danger" id="foterpanel">
     <input class="btn btn-primary" type="submit" value="Aceptar"/>
   
       <a class="btn btn-default" href="/tareas/">Cancelar</a>
 </div>  

 </div>
                            
                      
</form>
{% endblock container %}
